Jenkins view: http://34.220.46.213:5905/view/CEC-Tests
----------------------------------------------------------------------
Name:
CEC-e2e-tests-prod

Description:
CEC End to End tests for "Riggs and Porter" and "Demo 2"
Env: PROD

Build script:
STATUS=0
ENV=prod

rm -rf target/
yarn install
yarn test -e env=$ENV,domain=125757321:259155103 || STATUS=1

DATE=`date +%Y_%m_%d`
cd $WORKSPACE/target/test-results/
ls -la
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-CEC/$ENV/$DATE/
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-MCC/$ENV/$DATE/


if [ $STATUS -eq 0 ]
then
    exit 0
else 
	exit 1
fi
----------------------------------------------------------------------
Name:
CEC-e2e-tests-staging

Description: 
CEC End to End tests for "Demo 2"
Env: STAGING

Build script:
STATUS=0
ENV=staging

rm -rf target/
yarn install
yarn test -e env=$ENV,domain=259155103 || STATUS=1

DATE=`date +%Y_%m_%d`
cd $WORKSPACE/target/test-results/
ls -la
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-CEC/$ENV/$DATE/
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-MCC/$ENV/$DATE/


if [ $STATUS -eq 0 ]
then
    exit 0
else 
	exit 1
fi
----------------------------------------------------------------------
Name:
CEC-e2e-tests-uat

Description:
CEC End to End tests for "Riggs and Porter" and "Demo 2"
Env: UAT

Build script:
STATUS=0
ENV=uat

rm -rf target/
yarn install
yarn test -e env=$ENV,domain=125757321:259155103 || STATUS=1

DATE=`date +%Y_%m_%d`
cd $WORKSPACE/target/test-results/
ls -la
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-CEC/$ENV/$DATE/
s3cmd -r -c /home/ubuntu/.s3cfg put report.json s3://one-hour-deployment/E2E-MCC/$ENV/$DATE/


if [ $STATUS -eq 0 ]
then
    exit 0
else 
	exit 1
fi
----------------------------------------------------------------------
